:root {
  --color-primario: #181b26;
}
* {
  color: red;
}
body {
  background-color: #e4f0ff;
}
nav {
  font-family: "Titan One", cursive;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.08em;
  position: fixed;
  min-height: 85px;
  width: 100%;
  z-index: 500;
  animation-name: opacity;
  animation-fill-mode: forwards;
}
.navbar {
  background-color: var(--color-primario);
  box-shadow: 5px 8px 20px var(--color-primario);
}
.navbar img {
  width: 70px;
}
.c2 {
  margin-left: 20px;
}

.nav-link {
  text-transform: uppercase;
}
.navbar-toggler {
  border: solid white 1px;
  background-color: #f2faff;
}

/* --------------------Header-------------------- */
#first-view {
  height: 75vh;
  width: 97vw;
  background-color: #1c202b;
  background-image: url(./src/Polygon\ Luminary.svg);
  background-repeat: round;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.img-fluid {
  /* border: solid 1px red; */
  max-width: 440px;
}
h2 {
  /* border: solid 1px red; */
  height: min-content;
  width: max-content;
  font-family: "Titan One", cursive;
  margin-top: 20px;
}
#presentacion {
  width: 97vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  box-shadow: 5px 8px 20px var(--color-primario);
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 50px;
}
.col {
  background-color: #e4f0ff2b;
}
.col-2 {
  background-color: #e4f0ff;
  background-image: url(./src/Meteor.svg);
  background-repeat: no-repeat;
  min-height: 500px;
  max-height: 1000px;
}
.col h4 {
  margin-bottom: 5px;
  text-transform: uppercase;
  /* font-family: "Titan One", cursive; */
  color: var(--color-primario);
}
.col h3 {
  margin-bottom: 55px;
  text-transform: uppercase;
  font-family: "Titan One", cursive;
  color: var(--color-primario);
}
.col p {
  margin-bottom: 22px;
  color: var(--color-primario);
}
button {
  color: var(--color-primario);
  border: 0.5px solid var(--color-primario);
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
}
.presentacion-h4 {
  font-family: "Inconsolata", monospace;
}
